.body{
    background-color: darkcyan;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}

footer{
    text-align: center;
}


